.rootNoteList {
  display: flex;
  inline-size: fit-content;
  margin-inline: auto;
  flex-direction: column;
  gap: var(--space-1);
}

.rootNoteGroup {
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
}

.rootNoteButton {
  min-inline-size: var(--space-14);
}
